.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-inline: 50px;
  margin-block: 0px;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
}